@font-face {
    font-family: font;
    src: url("vertopal.com_uK_24rSEd-Uqwk4jY1RyKvi8Ww.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    color: rgb(136, 65, 39);
}

.hero {
    position: fixed;
    width: 100%;
    height: 80vh;
    background-image: url(shop-hero.jpg);
    background-size: cover ;
    background-position: bottom;
    z-index: -1;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541);
}

#page1 {
    width: 100%;
    height: 70vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page1 h1 {
    margin-top: 100px;
    font-family: font;
    font-weight: 100;
    font-size: 4rem;
    color: white;
}

#page1 h2 {
    font-family: font;
    font-weight: 100;
    font-size: 1.5rem;
    color: white;
}



/* Page 2 */

#page2 {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

#page2 .products{
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

#page2 .products .top {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 231, 231);
    padding: 30px;
}

#page2 .products .top .sort {
    display: flex;
    gap: 10px;
    align-items: center;
}

#page2 .products .top .sort .sort_dropdown {
    padding: 10px 25px; 
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid rgb(136, 65, 39);
}

#page2 .products .top .sort .sort_dropdown option {
    background-color: rgb(230, 179, 137);
}

#page2 .products .top .view-mode {
    width: 30px;
    height: 30px;
    background-color: rgb(136, 65, 39);
}


/* ITEMS STYLE 1 */

#page2 .products .items-S1 {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    row-gap: 30px;
    overflow-y: auto;
    padding: 0 10px;
}

#page2 .products .items-S1 .item {
    width: 200px;
    height: 280px;
    background-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

#page2 .products .items-S1 .item .item-img {
    width: 100%;
    height: 70%;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

#page2 .products .items-S1 .item .item-info {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#page2 .products .items-S1 .item .item-info .item-name {
    font-family: font;
    font-weight: 100;
    color: rgb(136, 65, 39);
}


/* ITEMS STYLE 2 */

#page2 .products .items-S2 {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 0 10px;
}

#page2 .products .items-S2 .item {
    width: 100%;
    height: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
    display: flex;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#page2 .products .items-S2 .item .item-img {
    height: 100%;
    width: 400px;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

#page2 .products .items-S2 .item .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 400px);
}

#page2 .products .items-S2 .item .item-info .item-name {
    color: rgb(136, 65, 39);
    font-family: font;
    font-weight: 100;
    font-size: 50px;
}

#page2 .products .items-S2 .item .item-info .item-price {
    font-family: font;
    font-weight: 100;
    font-size: 20px;
}

#page2 .sidebar{
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#page2 .sidebar .heading {
    width: 100%;
    height: 50px;
    background-color: rgb(231, 231, 231);
    padding: 0 30px;
    display: flex;
    align-items: center;
    font-family: font;
    font-weight: 100;
    position: relative;
}

#page2 .sidebar .heading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    background-color: rgb(136, 65, 39);
}

#page2 .sidebar .category-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

#page2 .sidebar .category-info a {
    padding: 10px 20px;
}

#page2 .sidebar .weight-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

#page2 .sidebar .quality-info a {
    padding: 10px 20px;
}

#page2 .sidebar .quality-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

#page2 .sidebar .weight-info a {
    padding: 10px 20px;
}