@font-face {
    font-family: font;
    src: url("vertopal.com_uK_24rSEd-Uqwk4jY1RyKvi8Ww.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
}

.img {
    width: 100%;
    height: 100vh;
    background-image: url(container.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(4px);
}

.img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
}

.bg {
    width: calc(100% - 300px);
    height: calc(100% - 300px);
    background-color: rgba(255, 255, 255, 0.582);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    color: black;
    border: 2px solid rgb(136, 65, 39);
}

.bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: rgb(255, 187, 0);
    border-radius: 20px;
    z-index: -1;
}

form {
    width: 300px;
    height: 115%;
    background-color: rgb(41, 41, 41);
    border: 2px solid rgb(136, 65, 39);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    justify-content: space-evenly;
}

form h1 {
    color: rgb(255, 187, 0);
    font-family: font;
    font-weight: 100;
}

form .username {
    width: 100%;
}

form .email, form .password {
    width: 100%;
}

form input {
    width: 100%;
    height: 30px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(255, 187, 0);
}

form input::placeholder {
    padding-left: 10px;
}

form input:focus {
    outline: none;
}

form .confirm-password {
    width: 100%;
}

form .confirm-password input {
    width: 100%;
    height: 30px;
}

form button {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgb(255, 187, 0);
    color: black;
    border: none;
    position: relative;
}

form button::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border: 2px solid rgb(255, 187, 0);
    border-radius: 30px;
}

form .sign-up {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.right h1 {
    color: black;
    font-family: font;
    font-weight: 100;
    font-size: 3rem;
}

.right p {
    color: black;
}

.right a {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgb(255, 187, 0);
    color: black;
    border: none;
    position: relative;
}

.right a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border: 2px solid rgb(136, 65, 39);
    border-radius: 30px;
}